.container {
  width: 100%;
  max-width: 100%; /* Limita a largura em dispositivos maiores */
  min-height: 100%; /* Ocupa toda a altura da tela */
  padding: 1rem;
  margin: 0 auto; /* Centraliza horizontalmente */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Segoe UI', Arial, sans-serif;
  background-color: #121212;
  color: #E0E0E0;
  border: 2px solid #ce7c00;
  border-radius: 1rem;
  box-shadow: 0 0 20px #ce5600;
  box-sizing: border-box;
}

.title {
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.teamSelector {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.label {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.select {
  width: 90%;
  padding: 0.5rem;
  font-size: 1rem;
}

/* Ajuste para telas extremamente pequenas */
@media (max-width: 320px) {
  .container {
    padding: 0.5rem;
    border-radius: 0.5rem;
  }

  .title {
    font-size: 1.25rem;
  }

  .select {
    width: 100%;
  }
}
